#pomodoro-clock {
  div {
    background-color: #282c34;
  }

  button {
    padding: 0.2rem;
    font-size: 1.5rem;
  }

  #controls-container {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;

    .length-controls {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1rem;

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        #session-length {
          margin: 5px;
        }

        #break-length {
          margin: 5px;
        }
      }
    }
  }

  #timer-label {
    font-size: 2rem;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;

    p {
      margin: 0;
    }
  }

  #pomodoro-controls {
    button {
      margin: 5px;
      padding: 5px;
    }
  }
}
