#calculator {
  div#calculator-container {
    border-radius: 15px;
    padding: 25px;
    background-color: #0202e1;
  }

  button {
    margin: 0;
  }

  #display {
    background-color: grey;
    border-radius: 15px;
    box-shadow: 7px 7px 0 0 #282828;
    padding: 30px;
    margin: 10px 0 10px 0;
    text-align: right;
    font-size: 1.5rem;
    font-family: consolas, sans-serif;
  }

  #buttons-container {
    display: flex;

    #number-container {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding-right: 10px;

      #zero { grid-area: "0"; }
      #one { grid-area: "1"; }
      #two { grid-area: "2"; }
      #three { grid-area: "3"; }
      #four { grid-area: "4"; }
      #five { grid-area: "5"; }
      #six { grid-area: "6"; }
      #seven { grid-area: "7"; }
      #eight { grid-area: "8"; }
      #nine { grid-area: "9"; }
      #decimal { grid-area: "dot"; }

      grid-template-areas:
        "9 8 7"
        "6 5 4"
        "3 2 1"
        "0 dot .";
    }

    #function-container {
      display: flex;
      flex-direction: column;

      button {
        margin: 5px;
      }
    }
  }
}
