body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  list-style-type: none;
 
  li{
    background-color: #61dafb;
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
  }
}